{% extends 'base.html.twig' %}

{% block title %}Edit Venue{% endblock %}

{% block body %}
    <h1>Edit Venue</h1>

    {{ include('venue/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_venue_index') }}">back to list</a>

    {{ include('venue/_delete_form.html.twig') }}
{% endblock %}
