services:
  mysql:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: eventms_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3301:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - network
    
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: mysql
      PMA_USER: user
      PMA_PASSWORD: password
    ports:
      - "8081:80"
    depends_on:
      - mysql
    networks:
      - network

volumes:
  mysql_data:

networks:
  network: